/*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


body {
    background: #4AB9B7;
    font-family:; 
}

h1 {
    font-size: 18px;
}

a {
    color: #3F68C3;
    text-decoration: none; 
}

a:hover {
    color:
}
div {
border: 15px solid black;

}

help.html {
border: 15px solid green;
width: 200px;
color: aqua;
}


contact.html {
border: 15px solid red;
width: 100px;
}

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


4AB9B7
3F68C3
C33FAO
6D40AC
B9523B 

*/